<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!--dependency injection by setters-->

	<!-- bean definitions here -->
	

	
	
	<bean id="emp2" class="com.spring.spring_core.model.Employee">
		<property name="name" value="Hariom"></property>
		<property name="gender" value="Male"></property>
		<property name="address">
			<bean class="com.spring.spring_core.model.Address">
				<property name="city" value="Delhi"></property>
				<property name="state" value="Delhi"></property>
				<property name="country" value="India"></property>
				<property name="pinCode" value="233233"></property>
				
			</bean>
			
		</property>
		
	</bean>
	


	<!--dependency injection by Constructor-->

	<!--<bean id="add2" class="com.spring.spring_core.model.Address">
		<constructor-arg name="city" value="Amroha" />
		<constructor-arg name="state" value="UP" />
		<constructor-arg name="country" value="INDIA" />
		<constructor-arg name="pinCode" value="221303" />

	</bean>

	<bean id="emp2" class="com.spring.spring_core.model.Employee" autowire="constructor">
		<constructor-arg name="name" value="Alok" />
		<constructor-arg name="gender" value="Male" />
		

	</bean>-->


</beans>